@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/mixins.scss";
@use "../../../assets/styles/adaptive.scss";

.section {
  @include mixins.resize(padding-top, 80, 23);
  @include mixins.resize(padding-bottom, 82, 263);
  background-color: white;
  border-radius: 20px;
  margin-top: -50px;
  position: relative;
}

.form {
  @include mixins.resize(padding-top, 32, 23);
  @include mixins.resize(padding-left, 64, 15);
  @include mixins.resize(padding-bottom, 80, 34);
  @include mixins.resize(padding-right, 64, 15);
  @include mixins.resize(border-radius, 30, 20);
  max-width: 867px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F7F7F7;

  @include adaptive.MOBILE {
    width: 100%;
  }
}


.title {
  @include mixins.resize(font-size, 72, 32);
  @include mixins.resize(line-height, 80, 48);
  @include mixins.resize(margin-bottom, 40, 20);
  font-family: variables.$font-family-secondary;
  font-weight: variables.$font-weight-medium;
  color: black;
  letter-spacing: -2px;
}

.input,
.textarea {
  @include mixins.resize(font-size, 28, 20);
  @include mixins.resize(line-height, 40, 38);
  @include mixins.resize(border-radius, 30, 20);
  width: 100%;
  border: 2px solid #B0B1C1;
  background-color: white;
  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-regular;
  outline: none;
  letter-spacing: -0.1px;

  &::placeholder {
    color: #B0B1C1;
  }
}

.input {
  @include mixins.resize(height, 100, 70);
  @include mixins.resize(padding-left, 24, 16);
  @include mixins.resize(padding-right, 24, 16);
  @include mixins.resize(margin-bottom, 16, 10);
}

.textarea {
  @include mixins.resize(height, 240, 182);
  @include mixins.resize(padding-top, 28, 15);
  @include mixins.resize(padding-left, 24, 16);
  @include mixins.resize(padding-right, 24, 16);
  @include mixins.resize(margin-bottom, 32, 20);
  resize: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include adaptive.MOBILE {
    line-height: 26px;
  }
}

.button {
  @include mixins.resize(height, 100, 78);
  @include mixins.resize(font-size, 28, 18);
  @include mixins.resize(line-height, 48, 38);
  @include mixins.resize(border-radius, 30, 20);
  width: auto;
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  letter-spacing: -0.1px;
  background-color: black;
  border: 3px solid black;
  color: white;

  @media (max-width: 1440px) {
    width: 100%; 
    justify-content: center;
  }
}

.cat {
  @include mixins.resize(width, 449, 243);
  @include mixins.resize(height, 454, 253);
  position: absolute;
  bottom: 0;
  right: 0;
  user-select: none;

  &::after,
  &::before {
    @include mixins.resize(width, 200, 90);
    @include mixins.resize(height, 150, 60);
    @include mixins.resize(top, 110, 55);
    @include mixins.resize(left, 93, 47);
    position: absolute;
    display: block;
    content: "";
    background-color: black;
    opacity: 0;
  }

  &::after {
    animation: blink 10s ease-in infinite;
  }

  &:active {
    &::before {
      opacity: 1;
    }
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.leftEye,
.rightEye {
  @include mixins.resize(width, 80, 39);
  @include mixins.resize(height, 80, 39);
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftEye {
  @include mixins.resize(top, 106, 39);
  @include mixins.resize(left, 93, 39);
}

.rightEye {
  @include mixins.resize(top, 151, 39);
  @include mixins.resize(left, 189, 39);
}

.pupil {
  @include mixins.resize(width, 43, 22);
  @include mixins.resize(height, 43, 22);
  border-radius: 100%;
  background-color: black;
}