@use "../../../../assets/styles/variables.scss";
@use "../../../../assets/styles/mixins.scss";
@use "../../../../assets/styles/adaptive.scss";

.block {
    @include mixins.resize(padding-top, 24, 0);
    @include mixins.resize(padding-right, 24, 0);
    @include mixins.resize(padding-bottom, 56, 0);
    @include mixins.resize(padding-left, 24, 0);
    @include mixins.resizeDesktop(width, 640);
    @include mixins.resizeMobile(margin-bottom, 31);
    color: #222FDC;
}

.title {
    @include mixins.resize(font-size, 90, 44);
    @include mixins.resize(line-height, 80, 50);
    @include mixins.resize(margin-bottom, 24, 20);
    @include mixins.resize(letter-spacing, -2, -2);
    font-family: variables.$font-family-secondary;
    font-weight: variables.$font-weight-medium;
    white-space: pre-wrap;
}

.description {
    @include mixins.resize(font-size, 22, 16);
    @include mixins.resize(line-height, 36, 20);
    @include mixins.resize(margin-bottom, 64, 20);
    @include mixins.resize(letter-spacing, -0.2, -0.2);
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-regular;
}

.features {
    @include mixins.resize(gap, 12, 13);
    @include mixins.resize(margin-bottom, 12, 13);
    display: flex;
    list-style: none;

    @include adaptive.MOBILE {
        flex-wrap: wrap;
    }
}

.feature {
    @include mixins.resize(padding-left, 16, 9);
    @include mixins.resize(padding-right, 16, 9);
    @include mixins.resize(height, 48, 41);
    @include mixins.resize(font-size, 16, 14);
    @include mixins.resize(border-radius, 12, 12);
    @include mixins.resize(letter-spacing, 0.1, 0.1);
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-regular;
    white-space: nowrap;
}

.field {
    @include mixins.resize(height, 100, 70);
    @include mixins.resize(border-radius, 30, 20);
    @include mixins.resize(width, 596, 335);
    border: 2px solid #222FDC;
    position: relative;
}

.input {
    @include mixins.resize(height, 92, 62);
    @include mixins.resize(font-size, 28, 18);
    @include mixins.resize(padding-left, 24, 16);
    @include mixins.resize(border-radius, 40, 40);
    width: 60%;
    border: none;
    background-color: white;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-regular;
    color: black;

    &::placeholder {
        color: #B0B1C1;
    }
}

.button {
    @include mixins.resize(height, 98, 65);
    @include mixins.resize(border-radius, 30, 20);
    @include mixins.resize(font-size, 28, 18);
    @include mixins.resize(padding-left, 32, 15);
    @include mixins.resize(padding-right, 32, 15);
    @include mixins.resize(top, -2, -2);
    @include mixins.resize(right, -2, -2);
    @include mixins.resize(gap, 12, 12);
    @include mixins.resize(letter-spacing, -0.1, -0.1);
    display: flex;
    align-items: center;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
    color: white;
    background-color: #222FDC;
    border: none;
    position: absolute;
}