@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/mixins.scss";
@use "../../../assets/styles/adaptive.scss";

.header {
    @include mixins.resizeDesktop(height, 80);
    @include mixins.resize(padding-top, 8, 13);
    @include mixins.resize(padding-bottom, 8, 13);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 25;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    display: flex;
}

.logo {
    @include mixins.resize(width, 160, 130);
    @include mixins.resize(height, 64, 53);
    display: block;
}

.navigation {
    display: flex;
    align-items: center;

    @include adaptive.MOBILE {
        display: none;
    }
}

.link {
    @include mixins.resizeDesktop(padding-left, 16);
    @include mixins.resizeDesktop(padding-right, 16);
    @include mixins.resizeDesktop(font-size, 16);
    @include mixins.resizeDesktop(letter-spacing, 0.1);
    color: #5B605C;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: black;
    }
}

.button {
    @include mixins.resizeDesktop(font-size, 22);
    @include mixins.resizeDesktop(line-height, 48);
    @include mixins.resizeDesktop(padding-left, 32);
    @include mixins.resizeDesktop(padding-right, 32);
    @include mixins.resizeDesktop(border-radius, 30);
    @include mixins.resizeDesktop(letter-spacing, -0.1);
    background-color: black;
    color: white;
    border: 3px solid black;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: black;
        background-color: transparent;
    }

    @media (max-width: #{variables.$NotMobile}px) {
        display: none;
    }
}

@mixin button_menu {
    @include mixins.resizeMobile(width, 39);
    @include mixins.resizeMobile(height, 39);
    @include mixins.resizeMobile(gap, 8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 50;
    padding: 0;
    border: none;
    background-color: transparent; 
    display: none;

    .button_menu_line {
        @include mixins.resizeMobile(height, 2);
        width: 100%;
        background-color: #222FDC;
        transition: all .2s ease-in-out;
    }

    @include adaptive.MOBILE {
        display: flex;
    }
}

.button_menu {
    @include button_menu();
}

.button_menu_active {
    @include button_menu();

    .button_menu_line:nth-child(1) {
        transform: rotate(45deg) 
                   translatex(6px) 
                   translateY(7px);
        transform-origin: center;
    }

    .button_menu_line:nth-child(2) {
        opacity: 0;
    }

    .button_menu_line:nth-child(3) {
        transform: rotate(-45deg) 
                   translatex(6px) 
                   translateY(-8px);
        transform-origin: center;
    }
}