@use "../../../assets/styles/adaptive.scss";
@use "../../../assets/styles/mixins.scss";

.section {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include adaptive.MOBILE {
        display: block;
    }
}

