@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/mixins.scss";

.section {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: #{variables.$NotMobile}px) {
        display: block;
    }
}

