@use "../../../../assets/styles/variables.scss";
@use "../../../../assets/styles/mixins.scss";

.block {
    @include mixins.resize(width, 644, 335);
    @include mixins.resize(height, 644, 357);
    @include mixins.resize(border-radius, 30, 20);
    background-color: #222FDC;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    @include mixins.resize(height, 48, 29);
    @include mixins.resize(border-radius, 12, 9);
    @include mixins.resize(top, 24, 6);
    @include mixins.resize(left, 19, 12);
    @include mixins.resize(font-size, 16, 12);
    @include mixins.resize(padding-left, 16, 10);
    @include mixins.resize(padding-right, 16, 10);
    @include mixins.resize(letter-spacing, 0.1, 0.1);
    background-color: white;
    position: absolute;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
    color: #1839CF;
    display: flex;
    align-items: center;
}

.users {
    @include mixins.resize(width, 421, 300);
    @include mixins.resize(height, 100, 72);
    @include mixins.resize(margin-top, 248, 119);
    display: flex;
    list-style: none;
    position: relative;
}

.user {
    @include mixins.resize(width, 100, 72);
    @include mixins.resize(height, 100, 72);
    position: absolute;

    &:nth-child(1) {
        z-index: 1;
        left: 0;
    }

    &:nth-child(2) {
        z-index: 2;
        @include mixins.resize(left, 80, 50);
    }

    &:nth-child(3) {
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
    }

    &:nth-child(4) {
        z-index: 4;
        @include mixins.resize(right, 80, 50);
    }

    &:nth-child(5) {
        z-index: 5;
        right: 0;
    }
}

.image {
    @include mixins.resize(top, 487, 266);
    position: absolute;
}