@use "../../../assets/styles/variables.scss";

.block {
    padding: 24px 24px 56px 24px;
    color: #222FDC;

    @media (max-width: 1440px) {
        padding: 0;
        margin-bottom: 31px;
    }
}

.title {
    font-family: variables.$font-family-secondary;
    font-weight: variables.$font-weight-medium;
    font-size: 90px;
    line-height: 80px;
    letter-spacing: -2px;
    white-space: pre-wrap;
    margin-bottom: 24px;

    @media (max-width: 1440px) {
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 20px;
    }
}

.description {
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-regular;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -0.2px;
    margin-bottom: 64px;

    @media (max-width: 1440px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}

.features {
    display: flex;
    gap: 12px;
    list-style: none;
    margin-bottom: 12px;

    @media (max-width: 1440px) {
        column-gap: 14px;
        row-gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 13px;
    }
}

.feature {
    padding: 0 16px;
    height: 48px;
    background-color: #F7F7F7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-regular;
    font-size: 16px;
    letter-spacing: 0.1px;
    white-space: nowrap;

    @media (max-width: 1440px) {
        padding: 0 9px;
        height: 41px;
        font-size: 14px;   
    }
}

.field {
    width: 596px;
    height: 100px;
    border: 2px solid #222FDC;
    border-radius: 30px;
    position: relative;

    @media (max-width: 1440px) {
        width: 335px;
        height: 70px;
        border-radius: 20px;
    }
}

.input {
    width: 65%;
    height: 96px;
    border: none;
    border-radius: 30px;
    background-color: white;
    outline: none;
    padding-left: 24px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-regular;
    font-size: 28px;
    color: black;

    &::placeholder {
        color: #B0B1C1;
    }

    @media (max-width: 1440px) {
        height: 66px;
        font-size: 18px;
        padding-left: 16px;
        width: 60%;
    }
}

.button {
    padding: 0 32px;
    display: flex;
    align-items: center;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
    font-size: 28px;
    color: white;
    background-color: #222FDC;
    height: 100px;
    border: none;
    border-radius: 30px;
    letter-spacing: -0.1px;
    gap: 12px;
    position: absolute;
    top: -2px;
    right: -2px;

    @media (max-width: 1440px) {
        padding: 0 15px;
        height: 70px;
        border-radius: 20px;
        font-size: 18px;
    }
}