@use "../../../../assets/styles/variables.scss";
@use "../../../../assets/styles/mixins.scss";

@mixin message {
    @include mixins.resize(height, 64, 40);
    @include mixins.resize(padding-left, 24, 16);
    @include mixins.resize(padding-right, 24, 16);
    @include mixins.resize(border-radius, 16, 12);
    @include mixins.resize(font-size, 22, 12);
    position: absolute;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.block {
    position: relative;
}

.footnote {
    @include message();
    @include mixins.resize(left, 20, 25);
    @include mixins.resize(bottom, -90, -55);
}

.cursor {
    @include mixins.resize(width, 32, 20);
    @include mixins.resize(height, 32, 20);
    @include mixins.resize(top, -60, -38);
    @include mixins.resize(left, 15, -5);
    position: absolute;
}

.bubble {
    @include message();
    left: -120%;

    @include mixins.resize(top, -90, -55);
    @include mixins.resize(left, -120, -60);

    &::after {
        @include mixins.resize(width, 20, 12);
        @include mixins.resize(height, 20, 12);
        @include mixins.resize(bottom, -9, -5);
        background-color: white;
        content: "";
        z-index: 0;
        display: block;
        position: absolute;
        border-radius: 0 0 5px 0;
        transform: rotate(45deg);
    }

    @media (max-width: #{variables.$NotMobile}px) {
        left: -60%;

        &::after {
            border-radius: 0 0 3px 0;
        }
    }
}