@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/mixins.scss";
@use "../../../assets/styles/adaptive.scss";

.section {
  @include mixins.resize(padding-top, 64, 30);
  @include mixins.resize(padding-bottom, 150, 84);
  background-color: #DAD4C5;
  border-radius: 20px;
  margin-top: -50px;
}

.block {
  @include mixins.resize(height, 720, 746);
  @include mixins.resize(padding, 8, 5);
  @include mixins.resize(border-radius, 30, 20);
  display: flex;
  justify-content: space-between;
  background-color: #CCC7B9;
  position: relative;

  @include adaptive.MOBILE {
    flex-direction: column;
    gap: 25px;
  }
}

.info {
  @include mixins.resize(padding-top, 16, 7);
  @include mixins.resize(padding-right, 24, 7);
  @include mixins.resize(padding-bottom, 24, 0);
  @include mixins.resize(padding-left, 16, 7);
  @include mixins.resize(max-width, 445, 320);
  font-family: variables.$font-family-primary;
  position: relative;
}

.topics {
  @include mixins.resize(margin-bottom, 32, 25);
  @include mixins.resize(gap, 12, 14);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.topic,
.topic_active,
.topic_disabled {
  @include mixins.resize(padding-left, 16, 10);
  @include mixins.resize(padding-right, 16, 10);
  @include mixins.resize(font-size, 16, 14);
  @include mixins.resize(line-height, 48, 41);
  @include mixins.resize(gap, 12, 14);
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #FFFFFF;
  color: #5B605C;
  font-weight: variables.$font-weight-medium;
  letter-spacing: 0.1px;
  cursor: pointer;
  user-select: none;
} 

.topic_active {
  background-color: #F7FF8F;
  color: black
}

.topic_disabled {
  background-color: #C1BEB4;
  color: #9F9F9F;
  cursor: not-allowed;
}

.title_block {
  @include mixins.resize(margin-bottom, 8, 3);
  @include mixins.resize(height, 48, 48);
  @include mixins.resize(line-height, 48, 48);
  position: relative;

  @include adaptive.MOBILE {
    font-size: 24px;
  }
}

.title,
.title_selected {
  @include mixins.resize(font-size, 32, 24);
  @include mixins.resize(line-height, 48, 48);
  font-weight: variables.$font-weight-medium;
  letter-spacing: -0.1px;
  color: black;
  position: absolute;
  white-space: nowrap;
  transition: all 0.5s linear;
}

.title {
  opacity: 0;
}

.title_selected {
  opacity: 1;
}

.description_block {
  @include mixins.resize(height, 325, 270);
  position: relative;
}

.description,
.description_selected {
  @include mixins.resize(font-size, 22, 16);
  @include mixins.resize(line-height, 36, 30);
  letter-spacing: -0.2px;
  color: #5B605C;
  position: absolute;
  transition: all 0.5s linear;
}

.description {
  opacity: 0;
}

.description_selected {
  opacity: 1;
}

.image,
.image_selected {
  @include mixins.resize(width, 859, 325);
  @include mixins.resize(height, 704, 260);
  position: absolute;
  right: 8px;
  transition: all 0.5s linear;

  img {
    @include mixins.resize(border-radius, 25, 15);
  }

  @include adaptive.MOBILE {
    bottom: 5px;
    left: 5px;
  }
}

.image {
  opacity: 0;
}

.image_selected {
  opacity: 1;
}