@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/mixins.scss";
@use "../../../assets/styles/adaptive.scss";

.section {
  @include mixins.resize(padding-top, 64, 30);
  @include mixins.resize(padding-bottom, 200, 125);
  @include mixins.resize(border-radius, 20, 20);
  @include mixins.resize(margin-top, -50, -50);
  background-color: #DAD4C5;
}

.block {
  @include mixins.resize(height, 720, 746);
  @include mixins.resize(padding, 8, 5);
  @include mixins.resize(border-radius, 30, 20);
  display: flex;
  justify-content: space-between;
  background-color: #CCC7B9;
  position: relative;

  @include adaptive.MOBILE {
    flex-direction: column;
  }
}

.info {
  @include mixins.resize(padding-top, 16, 7);
  @include mixins.resize(padding-right, 24, 7);
  @include mixins.resize(padding-bottom, 24, 0);
  @include mixins.resize(padding-left, 16, 7);
  @include mixins.resize(max-width, 445, 320);
  font-family: variables.$font-family-primary;
  position: relative;
}

.topics {
  @include mixins.resize(margin-bottom, 32, 25);
  @include mixins.resize(gap, 12, 14);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.topic,
.topic_active,
.topic_disabled {
  @include mixins.resize(padding-left, 16, 10);
  @include mixins.resize(padding-right, 16, 10);
  @include mixins.resize(font-size, 16, 14);
  @include mixins.resize(line-height, 48, 41);
  @include mixins.resize(gap, 12, 14);
  @include mixins.resize(border-radius, 12, 12);
  @include mixins.resize(letter-spacing, 0.1, 0.1);
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  color: #5B605C;
  font-weight: variables.$font-weight-medium;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
} 

.topic_active {
  background-color: #F7FF8F;
  color: black
}

.topic_disabled {
  background-color: #C1BEB4;
  color: #9F9F9F;
  cursor: not-allowed;
}

.animation_block {
  transition: all 0.3s ease-in-out;
}

.title {
  @include mixins.resize(font-size, 32, 24);
  @include mixins.resize(line-height, 48, 48);
  @include mixins.resize(margin-bottom, 8, 3);
  @include mixins.resize(letter-spacing, -0.1, -0.1);
  font-weight: variables.$font-weight-medium;
  color: black;
  white-space: nowrap;
}

.description {
  @include mixins.resize(font-size, 22, 16);
  @include mixins.resize(line-height, 36, 30);
  @include mixins.resize(letter-spacing, -0.2, -0.2);
  color: #5B605C;
}

.image {
  @include mixins.resize(width, 859, 325);
  @include mixins.resize(height, 704, 260);
  transition: all 0.3s ease-in-out;

  picture {
    width: 100%;
    height: 100%
  }

  img {
    @include mixins.resize(border-radius, 25, 15);
  }
}
