@use "../../../../assets/styles/variables.scss";
@use "../../../../assets/styles/mixins.scss";

.modal,
.modal_active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.modal {
    display: none
}

.modal_active {
    display: block;
}

.block {
    @include mixins.resizeMobile(margin-top, 150);
    height: calc(100% - 150px);
    position: relative;
}

.navigation {
    @include mixins.resizeMobile(gap, 20);
    display: flex;
    flex-direction: column;
}

.link {
    @include mixins.resizeMobile(font-size, 24);
    @include mixins.resizeMobile(line-height, 48);
    @include mixins.resizeMobile(letter-spacing, 0.1);
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
    color: #5B605C;
}

.button {
    @include mixins.resizeMobile(height, 64);
    @include mixins.resizeMobile(bottom, 20);
    @include mixins.resizeMobile(border-radius, 30);
    @include mixins.resizeMobile(font-size, 20);
    @include mixins.resizeMobile(line-height, 30);
    @include mixins.resizeMobile(letter-spacing, -0.1);
    width: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
    color: white;
    border: none;
}