@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/mixins.scss";
@use "../../../assets/styles/adaptive.scss";

.section {
  @include mixins.resize(padding-top, 64, 40);
  @include mixins.resize(border-radius, 20, 20);
  @include mixins.resize(margin-top, -50, -50);
  background-color: white;
}

.grid {
  @include mixins.resize(gap, 24, 10);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "block_1 block_1 block_1 block_2 block_2 block_2"
                       "block_3 block_3 block_3 block_3 block_3 block_3"
                       "block_4 block_4 block_5 block_5 block_6 block_6";

  @include adaptive.MOBILE {
    @include mixins.resize(grid-template-columns, 0, 335);
    grid-template-areas: "block_1"
                         "block_2"
                         "block_3"
                         "block_4"
                         "block_5"
                         "block_6";
  }
}

.block {
  @include mixins.resize(border-radius, 30, 20);
  @include mixins.resize(padding, 24, 0);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;

  &:nth-child(1) {
    @include mixins.resize(height, 826, 391);
    grid-area: block_1;

    .image {
      @include mixins.resize(width, 350, 114);
      @include mixins.resize(height, 350, 114);
      margin-bottom: 24px;
    }

    &::selection {
      background-color: red;
      color: green;
    }
  }

  &:nth-child(2) {
    @include mixins.resize(height, 826, 391);
    grid-area: block_2;

    .image {
      @include mixins.resize(width, 644, 335);
      @include mixins.resize(height, 350, 182);
      @include mixins.resize(bottom, 24, 24);
      position: absolute;
    }
  }

  &:nth-child(3) {
    @include mixins.resize(height, 884, 649);
    grid-area: block_3;

    .image {
      @include mixins.resize(width, 400, 210);
      @include mixins.resize(height, 300, 157.5);
      @include mixins.resize(margin-top, 24, 24);
      @include mixins.resize(margin-bottom, 24, 24);
      order: 3;
    }

    .points {
      order: 4;
    }
  }

  &:nth-child(4) {
    @include mixins.resize(height, 530, 208);
    grid-area: block_4;
    text-align: left;

    .title {
      @include mixins.resize(margin-bottom, 20, 20);
    }
  }

  &:nth-child(5) {
    @include mixins.resize(height, 530, 208);
    grid-area: block_5;

    .image {
      @include mixins.resize(width, 580, 374.25);
      @include mixins.resize(height, 580, 266.45);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 5;
    }
  }

  &:nth-child(6) {
    @include mixins.resize(height, 530, 208);
    grid-area: block_6;
    text-align: left;

    .description {
      @include mixins.resize(max-width, 373, 210);
    }

    .title {
      @include mixins.resize(margin-bottom, 20, 20);
    }
  }

  @include adaptive.MOBILE {
    &:nth-child(1) {
      @include mixins.resize(padding-top, 0, 25);

      .image {
        @include mixins.resize(margin-bottom, 0, 20);
      }

      .description {
        @include mixins.resize(max-width, 0, 220);
      }
    }

    &:nth-child(2) {
      @include mixins.resize(padding-top, 0, 25);

      .description {
        @include mixins.resize(max-width, 0, 250);
      }

      .image {
        bottom: 0;
      }
    }

    &:nth-child(3) {
      @include mixins.resize(padding-top, 0, 25);

      .description {
        @include mixins.resize(max-width, 0, 305);
      }

      .image {
        @include mixins.resize(margin-top, 0, 20);
        @include mixins.resize(margin-bottom, 0, 24);
      }
    }

    &:nth-child(4),
    &:nth-child(6) {
      @include mixins.resize(padding-top, 20, 20);
      @include mixins.resize(padding-right, 24, 24);
      @include mixins.resize(padding-bottom, 30, 30);
      @include mixins.resize(padding-left, 15, 15);
      align-items: flex-start;
    }
  }
}

.title {
  @include mixins.resize(max-width, 596, 275);
  @include mixins.resize(font-size, 78, 36);
  @include mixins.resize(line-height, 80, 40);
  @include mixins.resize(margin-bottom, 20, 15);
  @include mixins.resize(letter-spacing, -4, -1);
  font-family: variables.$font-family-secondary;
  font-weight: variables.$font-weight-regular;
}

.description {
  @include mixins.resize(font-size, 44, 20);
  @include mixins.resize(line-height, 52, 22);
  @include mixins.resize(max-width, 865, 865);
  @include mixins.resize(letter-spacing, -0.1, -0.1);
  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-regular;
}

.points {
  @include mixins.resize(gap, 24, 10);
  @include mixins.resize(display, 24, 10);
  @include mixins.resize(max-width, 1072, 224);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 38px 1fr 38px 1fr;
  list-style: none;

  @include adaptive.MOBILE {
    display: flex;
    flex-direction: column;
  }
}

.point {

}

.text {
  @include mixins.resize(font-size, 44, 20);
  @include mixins.resize(line-height, 52, 22);
  @include mixins.resize(letter-spacing, -0.1, -0.1);
  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-regular;

  @include adaptive.MOBILE {
    @include mixins.resize(max-width, 223, 223);
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  @include adaptive.MOBILE {
    @include mixins.resize(width, 27, 27);
    @include mixins.resize(height, 22, 22);
    transform: rotate(90deg);
  }
}