
$font-family-primary: "Inter", sans-serif;
$font-family-secondary: "Oswald", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$widthTemplateDesktop: 1440;
$widthTemplateMobile: 375;
$heightTemplateDesktop: 900;
$heightTemplateMobile: 986;
$NotMobile: 1023;